<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla/template :: head">
</head>

<body>
	<header th:replace="plantilla/template :: header"></header>

	<div class="container">
		<h1 th:text="${titulo}"></h1>
	</div>

	<div class="container">
		<div class="panel-body">
			<button class="btn btn-success" onclick="goBack()">&laquo;Regresar</button>
		</div>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Fecha Inicio</th>
					<th scope="col">Fecha Fin</th>
					<th scope="col">Observaciones</th>
					<th scope="col">descripción</th>
					<th scope="col"></th>
					<th scope="col"></th>
					<th scope="col"></th>
					</th>
					<th><a class="btn btn-primary btn-sm" th:href="@{/planesentrenamiento/create/}+${id_equipo}"
			th:text="'Crear Plan'" title="Crear Plan" ></th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="cl:${planes}">
					<th th:text="${cl.id_planentrenamiento}">></th>
					<th th:text="${cl.fechainicio}">></th>
					<th th:text="${cl.fechafin}">></th>
					<th th:text="${cl.observaciones}">></th>
					<th th:text="${cl.descripcion}">></th>
					<th><a class="btn btn-success btn-sm"
							th:href="@{/mesociclos/mostrarByP/} + ${cl.id_planentrenamiento}" th:text="'Ver Mesociclos'"
							title="Mesociclos">
						</a>
					</th>
					<th><a class="btn btn-primary btn-sm" th:href="@{/mesociclos/create/}+${cl.id_planentrenamiento}"
							th:text="'Crear Nuevo Mesociclo'" title="Crear Nuevo Mesociclo">
					</th>
							
					<th><a class="btn btn-danger btn-sm"
								th:href="@{/planesentrenamiento/delete/} + ${cl.id_planentrenamiento}" th:text="'Eliminar'"
								title="Eliminar">
					</th>
					 <th><a class="btn btn-warning btn-sm"
								th:href="@{/planesentrenamiento/edit/} + ${cl.id_planentrenamiento}" th:text="'Editar'"
								title="Editar">
					 </th>
				</tr>
			</tbody>
		</table>
		

	</div>

	<footer th:replace="plantilla/template :: footer"></footer>
	<script>
		function goBack() {
			window.history.back();
		}
	</script>
</body>

</html>